<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{hcoconfigpages/layout :: hcoTestPage (~{::#wcag-scenario})}">
    <body>
        <div id="wcag-scenario">
            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="contents col-12">
                        <div class="col-md-12">
                            <h3>Hosted Checkout WCAG Testing page</h3>
                            <h5>Test name: <b>American Express Checkout</b></h5>
                            <div th:replace="~{hcoconfigpages/WCAGDefectsTable :: wcagReports}"></div>
                            <div class="mt-5">
                                <input id="lightbox-with-session" type="button" class="btn btn-primary mr-2"
                                       value="Pay with Lightbox" onclick="Checkout.showLightbox();"/>
                                <input id="page-with-session" type="button" class="btn btn-primary"
                                       value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script th:src="@{${baseUrl} + '/checkout/version/' + ${config.apiVersion} + '/checkout.js'}"
                    data-error="errorCallback"
                    data-cancel="cancelCallback"
                    data-beforeRedirect="Checkout.saveFormFields"
                    data-afterRedirect="Checkout.restoreFormFields">
            </script>

            <script th:inline="javascript">
                function errorCallback(error) {
                    var message = JSON.stringify(error);
                    console.log(message);
                }

                function cancelCallback() {
                    console.log('Payment cancelled');
                    // Reload the page to generate a new session ID - the old one is out of date as soon as the lightbox is invoked
                    window.location.reload(true);
                }

                var configObject = {
                    interaction: {
                        merchant: {
                            name: "Mastercard Incorporated"
                        },
                        operation: "AUTHORIZE"
                    },
                    merchant: "AEC_CHECK1",
                    order: {
                        shippingAndHandlingAmount: "2",
                        amount: "10",
                        itemAmount: "5",
                        description: "MastercardReference1",
                        currency: "AUD",
                        taxAmount: "3"
                    }
                };

                Checkout.configure(configObject);
            </script>
        </div>
    </body>
</html>