@font-face {
    font-family: 'MarkForMC';
    src: url('../fonts/MarkWebW01Regular.eot');
    src: url('../fonts/MarkWebW01Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarkWebW01Regular.woff') format('woff'),
    url('../fonts/MarkWebW01Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MarkForMC';
    src: url('../fonts/MarkWebPro-LightW01Regular.eot');
    src: url('../fonts/MarkWebPro-LightW01Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarkWebPro-LightW01Regular.woff') format('woff'),
    url('../fonts/MarkWebPro-LightW01Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin-bottom: 50px;
    font-family: "MarkForMC", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
a {
    color: black;
}
a:hover {
    color: #FF6600;
    text-decoration: none;
}
pre {
    white-space: pre-wrap;
    background-color: #6A6A6A;
    color: #FFF;
    padding: 15px;
    border-radius: 10px;
}
h3 {
    margin-bottom: 32px;
    font-weight: 300;
}
h6 {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 20px;
}
form, .contents {
    padding: 15px;
}
form#threedsChallengeRedirectForm {
    padding: 0px;
}
.form-control[readonly] {
    background-color: #ffffff;
}
.form-control.readonly {
    background-color: #e9ecef;
}
form label {
    font-weight: 400;
}
form label + span {
    font-weight: 300;
    color: #6A6A6A;
}
form input[type="text"] {
    font-weight: 300;
    border: 1px solid #6A6A6A;
}
form h3, form .alert-warning {
    margin-left: 15px;
    margin-right: 15px;
}
input {
    border: 1px solid #CCCCCC !important;
    border-radius: 4px !important;
}
.alert-danger {
    display: none;
}
.active {
    color: #FF6600;
}
.error {
    color: red;
}
.alert-warning {
    margin-bottom: 40px;
}
.logo {
    margin-bottom: 50px;
}

.main-top {
    margin-top: 67px;
}

.sidebar {
    background-color: #FFF;
    left: 0;
    margin-left: -290px;
    position: fixed;
    top: 0;
    transition: margin-left 250ms;
    width: 280px;
    z-index: 999;
}

.sidebar.active {
    margin-left: 0;
}

.sidebar-links {
    background-color: white;
    bottom: 0;
    height: calc(100vh - 100%);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
    position: absolute;
    top: 100%;
    width: 280px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 998;
}

.overlay.active {
    display: block;
    opacity: 1;
}

@media (min-width: 768px) {
    .main-top {
        margin-top: 0;
    }

    .sidebar {
        border-right: 1px solid #CCC;
        margin-left: 0;
        padding: 30px 15px 30px 0;
        position: static;
        transition: none;
        width: auto;
    }

    .overlay.active {
        display: none;
    }

    .sidebar-links {
        border: 0;
        display: block;
        height: auto;
        padding: 0;
        position: static;
        width: auto;
    }
}

.btn-sidebar-nav {
    background-color: #FFF;
    line-height: 1;
    margin: 0;
    padding: 17px 25px;
    text-align: left;
    width: 100%;
}

.btn-sidebar-open {
    box-shadow: 0 0 10px rgba(0,0,0,.28);
    left: 0;
    position: fixed;
    top: -1px;
    z-index: 1;
}

.btn-sidebar-close {
    border-bottom: 1px solid #CCC;
}

.btn-primary {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
    cursor: pointer;
}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #E55C00;
    border-color: #E55C00;
    cursor: pointer;
}

.btn.btn-primary:disabled{
    background-color: #D8D8D8;
}
.btn.btn-primary:disabled:hover {
    cursor: no-drop;
}
.endpoint {
    word-wrap: break-word;
}

/* essentials_exclude_start */
#masterpass-button {
    cursor: pointer;
}
/* essentials_exclude_end */
.input-block {
    height: 50px;
    display: flex;
    align-items: center
}
.input-block label {
    margin-right: 10px;
    margin-bottom: 0;
}
.input-field {
    padding: 5px;
}

/* Loading gif */
#loading-bar-spinner.spinner {
    display: none;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #FF6600 !important;
    border-left-color: #FF6600 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Helper Classes */
.pull-right {
    float: right !important;
}

/* Custom Checkoyt Form styles */
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    background-color: #F7F7F7;
    margin-top: 3rem;
}
.tab input#tab-one {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab label {
    color: #212528;
    font-size: .9rem;
    font-weight: bold;
}
.tab label.tab-title {
    font-weight: normal;
    position: relative;
    display: block;
    margin: 0;
    padding: 1em;
    cursor: pointer;
    font-size: 18px;
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
.tab-content input {
    font-size: .9rem;
}

.tab-content p {
    margin: 1em;
}

.tab input:checked ~ .tab-content {
    max-height: 100vh;
}

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    font-size: 2rem;
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab input[type=checkbox] + label::after {
    content: "›";
    transform: rotate(90deg);
}
.tab input[type=checkbox]:checked + label::after {
    transform: translateX(-.5rem) rotate(-90deg);
}
#order-submit {
    border: none;
}

.hs-validation-tooltip.bs-tooltip-left.tooltip .arrow::before {
    border-left-color: #ff1a1a;
}

.hs-validation-tooltip.bs-tooltip-right.tooltip .arrow::before {
    border-right-color: #ff1a1a;
}

.hs-validation-tooltip.bs-tooltip-top.tooltip .arrow::before {
    border-top-color: #ff1a1a;
}

.hs-validation-tooltip.bs-tooltip-bottom.tooltip .arrow::before {
    border-bottom-color: #ff1a1a;
}

.hs-validation-tooltip.tooltip .tooltip-inner {
    background-color: #ff1a1a;
    font-weight: bold;
}