<!doctype html>
<html th:fragment="layout (template, viewName)" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Gateway Java Sample</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="jumbotron text-center">
    <div class="container">
        <h1>Gateway Java Sample Code</h1>
        <p>This set contains working example code to help you integrate your application into the payment gateway. Below are the transaction types covered in this example.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3 sidebar">
            <h6><a th:class="${viewName == 'pay'}? 'active'" href="pay">Pay</a></h6>
            <h6><a th:class="${viewName == 'payWithToken'}? 'active'" href="payWithToken">Pay with Token</a></h6>
            <h6><a th:class="${viewName == 'authorize'}? 'active'" href="authorize">Authorize</a></h6>
            <h6><a th:class="${viewName == 'capture'}? 'active'" href="capture">Capture</a></h6>
            <h6><a th:class="${viewName == 'refund'}? 'active'" href="refund">Refund</a></h6>
            <h6><a th:class="${viewName == 'void'}? 'active'" href="void">Void</a></h6>
            <h6><a th:class="${viewName == 'verify'}? 'active'" href="verify">Verify</a></h6>
            <h6><a th:class="${viewName == 'retrieve'}? 'active'" href="retrieve">Retrieve Order</a></h6>
            <h6><a th:class="${viewName == 'hostedCheckout'}? 'active'" href="hostedCheckout">Hosted Checkout</a></h6>
            <h6><a th:class="${viewName == '3dSecure'}? 'active'" href="3dSecure">Pay with 3DS</a></h6>
            <!--<essentials_exclude>-->
            <!--<targeted_exclude>-->
            <h6><a th:class="${viewName == 'paypal'}? 'active'" href="paypal">Pay with PayPal</a></h6>
            <!--</targeted_exclude>-->
            <!--</essentials_exclude>-->
            <!--<essentials_exclude>-->
            <h6><a th:class="${viewName == 'unionpay'}? 'active'" href="unionpay">Pay with UnionPay SecurePay</a></h6>
            <!--</essentials_exclude>-->
            <h6><a th:class="${viewName == 'apm'}? 'active'" href="apm">APMs - Standalone</a></h6>
            <!--<essentials_exclude>-->
            <h6><a th:class="${viewName == 'masterpass'}? 'active'" href="masterpass">Pay with Masterpass</a></h6>
            <!--</essentials_exclude>-->
            <h6><a th:class="${viewName == 'payThroughNVP'}? 'active'" href="payThroughNVP">Pay through NVP</a></h6>
            <h6><a th:class="${viewName == 'webhooks'}? 'active'" href="webhooks">Webhooks</a></h6>
            <h6><a th:class="${viewName == 'config'}? 'active'" href="config">Configuration</a></h6>
        </div>
        <div th:replace="${template}"/>
    </div>
</div>
<div id="loading-bar-spinner" class="spinner"><div class="spinner-icon"></div></div>
<script type="text/javascript">
    $( "form" ).submit(function() {
        $("#loading-bar-spinner").show();
    });
</script>
</body>