<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'3dSecure2')}">
<body>
<!--<script src="/scripts/hostedSession.js"></script>-->
<script type="text/javascript" th:src="@{${config.apiBaseURL} + '/static/threeDS/' + ${config.apiThreeDsVersion} + '/three-ds.min.js'}"></script>
<script th:inline="javascript">
    var JavaSample = {
        operation: function() {
            return "PAY";
        },
        secureIdResponseUrl: function() {
            return encodeURI(window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split('/')[1] + "/process3ds2Redirect");
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script th:src="@{${config.apiBaseURL} + '/form/version/' + ${config.apiVersion} + '/merchant/' + ${config.merchantId} + '/session.js'}"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Pay with 3DS-2.0</h3>
                <div class="alert alert-warning" role="alert">
                    <p><strong>NOTE:</strong> You can also do an authorization using 3D Secure 2.0, depending on your merchant settings.</p>
                    <p>Here are the processes that occur for this transaction:</p>
                    <ol>
                        <li>Use the <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Session%3a%20Create%20Session.html'}" target="_blank">CREATE_SESSION</a> operation to collect sensitive card data.</li>
                        <li>Use the <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Session%3a%20Update%20Session.html'}" target="_blank">UPDATE_SESSION</a> operation to update the session details such as <code>authentication.channel = PAYER_BROWSER</code>.</li>
                        <li>Initiate Authentication
                        <li>Authenticate Payer</li>
                        <li>Use the <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/3DS%3a%20Process%20ACS%20Result.html'}" target="_blank">PROCESS_ACS_RESULT</a> to check if the authentication was successful.</li>
                        <li>Use session.id and 3DSecureId to complete the transaction using <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Transaction%3a%20%20Pay.html'}" target="_blank">PAY</a> or <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Transaction%3a%20%20Authorize.html'}" target="_blank">AUTHORIZE</a>.</li>
                    </ol>
                    <p class="mb-0">You can find test cards <a th:href="@{${config.apiBaseURL} + '/api/documentation/integrationGuidelines/supportedFeatures/testAndGoLive.html'}">here</a>.</p>
                </div>
                <div class="mb-4">
                    <input type="hidden" readonly="readonly" name="method" value="PUT" size="20" maxlength="80"/>
                    <!--<input name="sessionId" th:value="${hostedSession.id}" size="20" maxlength="80" readonly/>-->
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="session-id">Session Id</label>
                        <div class="col-md-7">
                            <input id="session-id" required="" class="form-control input-md" type="text"
                                   name="session-id" th:value="${hostedSession.id}" size="8" maxlength="13" readonly/>
                        </div>
                    </div>
                    <h6>Payment details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="card-number">Card number</label>
                        <div class="col-md-7">
                            <input id="card-number" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-month">Expiry month</label>
                        <div class="col-md-7">
                            <input id="expiry-month" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-year">Expiry year</label>
                        <div class="col-md-7">
                            <input id="expiry-year" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                </div>
                <div id="3DSUI" hidden="true"></div>
                <div id="3DSUIPostData" hidden="true"></div>
                <div>
                    <h6>Order details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-id">Order ID (Auto generated unique Order ID)</label>
                        <div class="col-md-7">
                            <input id="order-id" type="text" th:value="${request.orderId}" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-amount">Order amount</label>
                        <div class="col-md-7">
                            <input id="order-amount" type="text" th:value="${request.orderAmount}" maxlength="14" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-currency">Order currency</label>
                        <div class="col-md-7">
                            <input id="order-currency" type="text" th:value="${request.orderCurrency}" maxlength="3" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-description">Order description</label>
                        <div class="col-md-7">
                            <input id="order-description" type="text" th:value="${request.orderDescription}" maxlength="127" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="transaction-id">Transaction ID  (Auto generated unique Transaction ID)</label>
                        <div class="col-md-7">
                            <input id="transaction-id" type="text" th:value="${request.transactionId}" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                </div>
                <button class="mt-4 btn btn-primary" id="payButton" onclick="pay();">Pay with 3DS-2.0</button>
            </div>
        </div>
    </div> <!-- row -->
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var sessionVersion = /*[[${hostedSession.version}]]*/ null;
    var successIndicator = /*[[${hostedSession.updateStatus}]]*/ null;
    var orderId = /*[[${request.orderId}]]*/ null;
    var transactionId = /*[[${request.transactionId}]]*/ null;
    /*]]>*/
    var resultIndicator = null;

    ThreeDS.configure({
        merchantId: merchantId,
        hostedSessionId: sessionId,
        containerId: '3DSUI',
        configuration: {userLanguage: "en-AU", wsVersion: /*[[${config.apiVersion}]]*/ null},
        callback: function (data) {
            if (ThreeDS.isConfigured())
                console.log("Done with configure");
        }
    });

    function crossDomainPost(url, params, callback) {
        // Add the iframe with a unique name
        let iframe = document.createElement("iframe");
        let uniqueString = "methodIFrame";
        document.body.appendChild(iframe);
        iframe.style.display = "none";
        iframe.contentWindow.name = uniqueString;

        // construct a form with hidden inputs, targeting the iframe
        let form = document.createElement("form");
        form.target = uniqueString;
        form.action = url;
        form.method = "POST";

        addParams2Form(params, form);

        document.body.appendChild(form);
        form.submit();
        callback();
        function addParams2Form(arr, form) {
            for (var key in arr) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }
        }
    }

    /**
     *
     * @param params data.htmlRedirectCode
     * @param callback auth()
     */
    function submitAuthenticatePayer(params, callback) {
        var e = document.createElement('div');
        e.style.display = "none";
        e.innerHTML = params;

//        while(e.firstChild) {
//            document.body.appendChild(e.firstChild);
//        }

        var divId = document.getElementById("3DSUIPostData");
        divId.innerHTML = params;
        divId.hidden = false;


        callback();
    }

    function auth() {
        var requestBody = {
            "sessionId": sessionId,
            "apiOperation": JavaSample.operation(),
            "cardNumber": document.getElementById("card-number").value,
            "expiryMonth": document.getElementById("expiry-month").value,
            "expiryYear": document.getElementById("expiry-year").value,
            "orderId": document.getElementById("order-id").value,
            "transactionId": document.getElementById("transaction-id").value,
            "hostedSession": false,
            "protocol": 'REST'
        };

        var xhr = new XMLHttpRequest();
            xhr.open('PUT', '3dsreceipt', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.documentElement.innerHTML = this.response;
            }
        }
        xhr.send(JSON.stringify(requestBody));
    }

    function displayReceipt(apiResponse) {
        var responseBody  = {
            "apiResponse": apiResponse
        };

        var xhr = new XMLHttpRequest();
        xhr.open('PUT', '3ds2receipt', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.documentElement.innerHTML = this.response;
            }
        }
        xhr.send(JSON.stringify(responseBody));
    }

    function authenticatePayer() {
        let cardNumber = document.getElementById("card-number").value;
        let orderAmount = document.getElementById("order-amount").value;
        let orderCurrency = document.getElementById("order-currency").value;
        let expiryYear = document.getElementById("expiry-year").value;
        let expiryMonth = document.getElementById("expiry-month").value;

        ThreeDS.authenticatePayer(orderAmount, cardNumber, expiryMonth, expiryYear, orderCurrency, orderId, transactionId,
           JavaSample.secureIdResponseUrl(),{}, function (data) {
            processAuthenticatePayerResponse(data);
        });
    }

    /**
     *
     * @param data authenticatePayer response
     */
    function processAuthenticatePayerResponse(data) {
        if (data.error) {
            if (data.error.code === 429) {
                window.setTimeout(authenticatePayer(), 5000);
            }
            else {
                displayReceipt(data);
            }
        }
        else {
            console.log("Received Authenticate Payer Response ", data.htmlRedirectCode);
//            auth();
           submitAuthenticatePayer(data.htmlRedirectCode, function () {
               auth();
           });
        }
    }


    function pay() {
        // UPDATE THE SESSION WITH THE INPUT FROM HOSTED FIELDS
        var cardNumber = document.getElementById("card-number").value;
        var orderAmount = document.getElementById("order-amount").value;

        ThreeDS.initiateAuthentication(cardNumber, orderId, transactionId, function (data) {//TODO before click PAY()
                if (data && data.error) {
                    var error = data.error;
                    //Something bad happened, the error value will match what is returned by the REST API
                    console.error("error.code : ", error.code);
                    console.error("error.msg : ", error.msg);
                    console.error("error.result : ", error.result);
                    console.error("error.status : ", error.status);
                }
                else {
                    console.log("After Initiate 3DS ", data);
                    switch (data.gatewayRecommendation) {
                        case "PROCEED_WITH_AUTHENTICATION":
                            authenticatePayer();
                            break;
                        case "DO_NOT_PROCEED":
                            displayReceipt(data);
                            break;
                    }
                }
            }
        );
    }
</script>
<!--<script src="/scripts/threeDS.js"></script>-->
</body>
</html>
