<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'3dSecure2')}">
<body>
<!-- <script src="/scripts/hostedSession.js"></script> -->
<!--<script type="text/javascript" th:src="@{${config.apiBaseURL} + '/static/threeDS/' + ${threedsApiVersion} + '/three-ds.min.js'}"></script>-->
<script src="https://dl01aspall39v.qabri.mastercard.int/static/threeDS/1.0.0/three-DS.min.js" type="text/javascript"></script>

<script th:inline="javascript">
    var JavaSample = {
        operation: function() {
            return "CHECK_3DS_ENROLLMENT";
        },
        endpoint: function() {
            return "check3dsEnrollment";
        },
        secureIdResponseUrl: function() {
            return encodeURI(window.location.protocol + "//" + window.location.host + "/process3ds");
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">body{display:none !important;}</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<!--<script th:src="@{${config.apiBaseURL} + '/form/version/' + ${config.apiVersion} + '/merchant/' + ${config.merchantId} + '/session.js'}"></script>-->
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Pay with 3DS-2.0</h3>
                <div class="alert alert-warning" role="alert">
                    <p><strong>NOTE:</strong> You can also do an authorization using 3D Secure 2.0, depending on your merchant settings.</p>
                    <p>Here are the processes that occur for this transaction:</p>
                    <ol>
                        <li>Use the <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Session%3a%20Create%20Checkout%20Session.html'}" target="_blank">CREATE_CHECKOUT_SESSION</a> operation to collect sensitive card data.</li>
                        <li>Initiate Authentication
                        <li>Authenticate Payer</li>
                        <li>Use the <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/3DS%3a%20Process%20ACS%20Result.html'}" target="_blank">PROCESS_ACS_RESULT</a> to check if the authentication was successful.</li>
                        <li>Use session.id and 3DSecureId to complete the transaction using <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Transaction%3a%20%20Pay.html'}" target="_blank">PAY</a> or <a th:href="@{${config.apiBaseURL} + '/api/documentation/apiDocumentation/rest-json/version/latest/operation/Transaction%3a%20%20Authorize.html'}" target="_blank">AUTHORIZE</a>.</li>
                    </ol>
                    <p class="mb-0">You can find test cards <a th:href="@{${config.apiBaseURL} + '/api/documentation/integrationGuidelines/supportedFeatures/testAndGoLive.html'}">here</a>.</p>
                </div>
                <div class="mb-4">
                    <input type="hidden" readonly="readonly" name="method" value="PUT" size="20" maxlength="80"/>
                    <input name="sessionId" value="${hostedSession.id}" size="20" maxlength="80" readonly/>
                    <div class="form-group">  <label class="col-md-7 control-label" for="session[id]">Session
                        Id</label>
                        <div class="col-md-7">
                            <input id="session[id]" required="" class="form-control input-md" type="text"
                                   name="session[id]" value="${hostedSession.id}" size="8" maxlength="13"
                            readonly/>
                        </div>
                    </div>
                    <h6>Payment details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="card-number">Card number</label>
                        <div class="col-md-7">
                            <input id="card-number" type="text" placeholder="" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-month">Expiry month</label>
                        <div class="col-md-7">
                            <input id="expiry-month" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-year">Expiry year</label>
                        <div class="col-md-7">
                            <input id="expiry-year" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                </div>
                <div id="3DSUI" hidden="true"></div>
                <div id="3DSUIPostData" hidden="true"></div>
                <app-root></app-root>
                <div>
                    <h6>Order details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-id">Order ID (Auto generated unique Order ID)</label>
                        <div class="col-md-7">
                            <input id="order-id" type="text" th:value="${request.orderId}" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-amount">Order amount</label>
                        <div class="col-md-7">
                            <input id="order-amount" type="text" th:value="${request.orderAmount}" maxlength="14" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-currency">Order currency</label>
                        <div class="col-md-7">
                            <input id="order-currency" type="text" th:value="${request.orderCurrency}" maxlength="3" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-description">Order description</label>
                        <div class="col-md-7">
                            <input id="order-description" type="text" th:value="${request.orderDescription}" maxlength="127" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="transaction-id">Transaction ID  (Auto generated unique Transaction ID)</label>
                        <div class="col-md-7">
                            <input id="transaction-id" type="text" th:value="${request.transactionId}" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="transaction-id">Session ID</label>
                        <div class="col-md-7">
                            <input id="session-id" type="text" th:value="${request.sessionId}" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                </div>
                <button class="mt-4 btn btn-primary" id="payButton" onclick="pay();">Pay with 3DS-2.0</button>
            </div>
        </div>
    </div> <!-- row -->
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var sessionVersion = /*[[${hostedSession.version}]]*/ null;
    var successIndicator = /*[[${hostedSession.updateStatus}]]*/ null;
    var orderId = /*[[${request.orderId}]]*/ null;
    var transactionId = /*[[${request.transactionId}]]*/ null;
    /*]]>*/
    var resultIndicator = null;

    THREEDS.configure({
        sessionId: sessionId,
        merchantId: merchantId,
        hostedSessionId: sessionId,
        containerId: '3DSUI',
        configuration: {userLanguage: "en-AU", wsVersion: 50},
        hppdebug: true,
        callback: function (data) {
            if (THREEDS.configured)
                console.log("Done with configure");
        }
    });

    function crossDomainPost(url, params, callback) {
        // Add the iframe with a unique name
        let iframe = document.createElement("iframe");
        let uniqueString = "methodIFrame";
        document.body.appendChild(iframe);
        iframe.style.display = "none";
        iframe.contentWindow.name = uniqueString;

        // construct a form with hidden inputs, targeting the iframe
        let form = document.createElement("form");
        form.target = uniqueString;
        form.action = url;
        form.method = "POST";

        addParams2Form(params, form);

        document.body.appendChild(form);
        form.submit();
        callback();
        function addParams2Form(arr, form) {
            for (var key in arr) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }
        }
    }

    function submitAuthenticatePayer(params, callback) {
        var e = document.createElement('div');
        e.style.display = "none";
        e.innerHTML = params;

//        while(e.firstChild) {
//            document.body.appendChild(e.firstChild);
//        }

        var divId = document.getElementById("3DSUIPostData");
        divId.innerHTML = params;
        divId.hidden = false;


        callback();
    }

    function auth() {
        var j = {
            "sessionId": sessionId,
            "apiOperation": 'PAY',
            "cardNumber": document.getElementById("card-number").value,
            "expiryMonth": document.getElementById("expiry-month").value,
            "expiryYear": document.getElementById("expiry-year").value,
            "orderId": document.getElementById("order[id]").value,
            "transactionId": document.getElementById("transaction[id]").value,
            "hostedSession": false,
            "protocol": 'REST'
        };

        var xhr = new XMLHttpRequest();
        xhr.open('PUT', '3dsreceipt', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.documentElement.innerHTML = this.response;
            }
        }
        xhr.send(JSON.stringify(j));
    }

    function displayReceipt(apiResponse) {
        var j = {
            "apiResponse": apiResponse
        };

        var xhr = new XMLHttpRequest();
        xhr.open('PUT', '3diasreceipt', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.documentElement.innerHTML = this.response;
            }
        }
        xhr.send(JSON.stringify(j));
    }

    function authenticatePayer() {
        var cardNumber = document.getElementById("card-number").value;
        var orderAmount = document.getElementById("order[amount]").value;
        THREEDS.authenticatePayer(orderAmount, cardNumber, '05', '2021', 'AUD', orderId, transactionId, "http://localhost:5000/process3dsRedirect",{}, function (data) {
            processAuthenticatePayerResponse(data);
        });
    }

    function processAuthenticatePayerResponse(data) {
        if (data.error) {
            if (data.error.code === 429) {
                window.setTimeout(authenticatePayer(), 5000);
            }
            else {
                displayReceipt(data);
            }
        }
        else {
            console.log("Received Authenticate Payer Response ", data.htmlRedirectCode);
//            auth();
//            submitAuthenticatePayer(data.htmlRedirectCode, function () {
//                auth();
//            });
        }
    }


    function pay() {
        // UPDATE THE SESSION WITH THE INPUT FROM HOSTED FIELDS
        var cardNumber = document.getElementById("card-number").value;
        var orderAmount = document.getElementById("order[amount]").value;

        THREEDS.initiate3DS(cardNumber, orderId, transactionId, function (data) {
                if (data && data.response && data.response.error) {
                    var error = data.response.error;
                    //Something bad happened, the error value will match what is returned by the REST API
                    console.error("error.cause : ", error.cause);
                    console.error("error.explanation : ", error.explanation);
                    console.error("error.field : ", error.field);
                }
                else {
                    console.log("After Initiate 3DS ", data);
                    switch (data.gatewayRecommendation) {
                        case "PROCEED_WITH_AUTHENTICATION":
                            authenticatePayer();
                            break;
                        case "DO_NOT_PROCEED":
                            displayReceipt(data);
                            break;
                    }
                }
            }
        );
    }
</script>
</body>
</html>