<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'apm')}">
<body>
<script type="text/javascript" src="http://localhost/apm/src/assets/scripts/apm.js"></script>
<style>
    #idealButton, #sofortButton, #giropayButton {
        display: none;
    }
</style>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Alternate Payment Methods - Standalone Implementation</h3>
                <!--<h4>Hosted Checkout integration</h4>-->
                <!--<h4>Other integration</h4>-->
                <div id="mc-apm-container" style="width:0px;height:0px;"></div>
                <button type="submit" class="mt-4 btn btn-primary" id="idealButton" onclick="payWithIdeal();">Pay with iDEAL</button>
                <button type="submit" class="mt-4 btn btn-primary" id="sofortButton" onclick="payWithSofort();">Pay with Sofort</button>
                <button type="submit" class="mt-4 btn btn-primary" id="giropayButton" onclick="payWithGiropay();">Pay with Giropay</button>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script th:inline="javascript">

    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var orderId = /*[[${request.orderId}]]*/ null;
    var transactionId = /*[[${request.transactionId}]]*/ null;
    var correlationId = /*[[${correlationId}]]*/ null;
    /*]]>*/

    APM.configure(merchantId, sessionId, {configuration: {wsVersion: '50', userLanguage: 'en-US'}}, function (data) {
            if (data && data.result === "ERROR") {
                var error = data;
                //Something bad happened, the error value will match what is returned by the REST API
                console.error("error.cause : ", error.cause);
                console.error("error.explanation : ", error.explanation);
                console.error("error.field : ", error.field);
            }
            else {
                if(APM.isSupported(APM.METHOD_IDEAL)) {
                    $("#idealButton").show();
                }
                if(APM.isSupported(APM.METHOD_SOFORT)) {
                    $("#sofortButton").show();
                }
                if(APM.isSupported(APM.METHOD_GIROPAY)) {
                    $("#giropayButton").show();
                }
            }
        }
    );
    function payWithIdeal() {
        APM.initiatePayment(APM.METHOD_IDEAL, orderId, transactionId, correlationId, function (data) {
            handleResponse(data, APM.METHOD_IDEAL);
        });
    }
    function payWithSofort() {
        APM.initiatePayment(APM.METHOD_SOFORT, orderId, transactionId, correlationId, function (data) {
            handleResponse(data, APM.METHOD_SOFORT);
        });
    }
    function payWithGiropay() {
        APM.initiatePayment(APM.METHOD_GIROPAY, orderId, transactionId, correlationId, function (data) {
            handleResponse(data, APM.METHOD_GIROPAY);
        });
    }
    function handleResponse(data, method) {
        if(data && data.result === "SUCCESS") {
            sessionStorage.setItem('paymentMethod', method);
            window.location.href = data.restApiResponse.browserPayment.redirectUrl;
        }
        else {
            console.log("There was an error initiating browser payment.")
        }
    }
</script>
</body>
</html>