<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'apmHostedCheckout')}">
<body>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Hosted Checkout</h3>
                <p>The Hosted Checkout model allows you to collect payment details from your payer through an interaction hosted and displayed by the Payment Gateway. This means you aren't responsible for handling sensitive PCI data.</p>
                <p>Hosted Checkout can be implemented as:</p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <h5>Lightbox</h5>
                            <ul class="my-4">
                                <li>Opens modal; doesn't redirect away from merchant site</li>
                                <li>Seamless checkout experience</li>
                            </ul>
                            <input id="lightbox-with-session" type="button" class="btn btn-primary mr-2" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
                        </div>
                        <div class="col">
                            <h5>Payment Page</h5>
                            <ul class="my-4">
                                <li>Redirects to Gateway-hosted payment page</li>
                                <li>Ideal if your site isn't SSL-secured</li>
                            </ul>
                            <input id="page-with-session" type="button" class="btn btn-primary" value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-one" type="checkbox" name="tabs">
                    <label class="tab-title" for="tab-one">Customize Checkout Configurations</label>
                    <div class="tab-content">
                        <form id="order-form" onSubmit="orderFormSubmitHandler()">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label" for="order-amount">Amount</label>
                                    <input id="order-amount" type="number" min="1" max="999999999" maxlength="10" class="form-control input-md" required placeholder="e.g. 50.00"/>
                                </div>
                                <div class="form-group col-md-9">
                                    <label class="control-label" for="order-currency">Currency</label>
                                    <select id="order-currency" class="form-control input-md" required>
                                        <option hidden>Select a currency</option>
                                        <option value="AUD" title="Australian Dollar">AUD - Australian Dollar</option>
                                        <option value="BRL" title="Brazilian Real">BRL - Brazilian Real</option>
                                        <option value="CAD" title="Canadian Dollar">CAD - Canadian Dollar</option>
                                        <option value="CHF" title="Swiss Franc">CHF - Swiss Franc</option>
                                        <option value="CZK" title="Czech Rep. Koruna">CZK - Czech Rep. Koruna</option>
                                        <option value="DKK" title="Danish Krone">DKK - Danish Krone</option>
                                        <option value="EUR" title="Euro">EUR - Euro</option>
                                        <option value="GBP" title="UK Pound Sterling">GBP - UK Pound Sterling</option>
                                        <option value="HKD" title="Hong Kong Dollar">HKD - Hong Kong Dollar</option>
                                        <option value="HUF" title="Hungarian Forint">HUF - Hungarian Forint</option>
                                        <option value="ILS" title="Israeli Sheqel">ILS - Israeli Sheqel</option>
                                        <option value="JPY" title="Japanese Yen">JPY - Japanese Yen</option>
                                        <option value="MXN" title="Mexican Peso">MXN - Mexican Peso</option>
                                        <option value="MYR" title="Malaysian Ringgit">MYR - Malaysian Ringgit</option>
                                        <option value="NOK" title="Norwegian Krone">NOK - Norwegian Krone</option>
                                        <option value="NZD" title="New Zealand Dollar">NZD - New Zealand Dollar</option>
                                        <option value="PHP" title="Philippine Peso">PHP - Philippine Peso</option>
                                        <option value="PLN" title="Polish Zloty">PLN - Polish Zloty</option>
                                        <option value="SEK" title="Swedish Krona">SEK - Swedish Krona</option>
                                        <option value="SGD" title="Singapore Dollar">SGD - Singapore Dollar</option>
                                        <option value="THB" title="Thai Baht">THB - Thai Baht</option>
                                        <option value="TWD" title="New Taiwan Dollar">TWD - New Taiwan Dollar</option>
                                        <option value="USD" title="US Dollar">USD - US Dollar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="control-label" for="order-description">Description</label>
                                    <textarea id="order-description"  class="form-control" rows="4" required placeholder="e.g. Ordered goods"></textarea>
                                </div>
                            </div>
                            <h6 class="panel-title">Advanced Settings</h6>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="order-session-id">Custom Session ID</label>
                                    <input id="order-session-id" type="text" minlength="31" maxlength="50" class="form-control input-md" placeholder="SESSION12345ABC" autocomplete="off"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="control-label" for="order-return-url">Return URL</label>
                                    <input id="order-return-url" type="text" class="form-control input-md" placeholder="http://www.mystore.com/returnurl"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <button id="order-submit" type="submit" class="btn btn-primary pull-right" disabled>Update configuration</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script id="checkout-script" th:src="@{${config.apiBaseURL} + '/checkout/version/' + ${config.apiVersion} + '/checkout.js'}"
    data-error="errorCallback"
    data-cancel="cancelCallback"
    data-beforeRedirect="Checkout.saveFormFields"
    data-afterRedirect="Checkout.restoreFormFields">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var currency = /*[[${config.currency}]]*/ null;
    /*]]>*/

    // This method preserves the current state of successIndicator and orderId, so they're not overwritten when we return to this page after redirect
    function getPageState() {
        return {
            sessionId: sessionId
        };
    }

    // This method is specifically for the full payment page option. Because we leave this page and return to it, we need to preserve the
    // state of successIndicator and orderId using the beforeRedirect/afterRedirect option
    function restorePageState(data) {
        console.log("afterRedirect: ", data);
        Checkout.showLightbox();
    }

    function errorCallback(error) {
        var message = JSON.stringify(error);
        $("#loading-bar-spinner").hide();
        var $errorAlert = $('#error-alert');
        console.log(message);
        $errorAlert.append("<p>" + message + "</p>");
        $errorAlert.show();
    }

    function cancelCallback() {
        console.log('Payment cancelled');
        // Reload the page to generate a new session ID - the old one is out of date as soon as the lightbox is invoked
        window.location.reload(true);
    }

    /** This handles the response from Hosted Checkout and redirects to the appropriate endpoint
     * @param {string} resultIndicator - The result indicator can be used to securely determine if the payment succeeded in a Return To Merchant integration.
     * @param {string} sessionVersion - Version of the Payment Session after payment completed.
     */
    function completeCallback(resultIndicator, sessionVersion) {
      console.info('Complete: ', resultIndicator, sessionVersion);

      window.location.replace( order.returnUrl );
    }

    /** Getting values from Order form **/
    var orderform = $('#order-form');
    var checkoutScript = $('#checkout-script');
    var currencyInput = $('#order-currency');
    var amountInput = $('#order-amount');
    var descriptionInput = $('#order-description');
    var sessionIdInput = $('#order-session-id');
    var returnUrlInput = $('#order-return-url');
    var orderSubmit = $('#order-submit');
    var lightboxButton = $('#lightbox-with-session');
    var fullpageButton = $('#page-with-session');
    var tabCheckout = $('#tab-one');
    var isSessionStorageSupported = storageAvailable('sessionStorage');

    // Toggling accordion
    tabCheckout.change(function() {
      if(this.checked && isSessionStorageSupported) {
          console.log('checked and storage supported');
          sessionStorage.setItem('tabChecked', 'checked');

      } else if (!this.checked && isSessionStorageSupported) {
          console.log('unchecked and storage supported');
          sessionStorage.setItem('tabChecked', 'unchecked');
      } else {
        console.info('Session Storage is not supported')
      }
    });

    function toggleTab() {
      if(isSessionStorageSupported){
        var isChecked = sessionStorage.getItem('tabChecked') || 'unchecked';
        console.log('isChecked: ', isChecked, typeof isChecked);

        if(isChecked === 'checked') {
          console.log('this is true', isChecked);
          tabCheckout.prop('checked', true);
        } else {
          console.log('this is false', isChecked);
          tabCheckout.prop('checked', false);
        }
      }
    }

    // Toggling buttons
    orderform
      .change(function() {
        if (orderSubmit.prop('disabled')) {
          orderSubmit.prop('disabled', false);
          lightboxButton.prop('disabled', true);
          fullpageButton.prop('disabled', true);
        }
      })
      .submit(function() {
        orderSubmit.prop('disabled', true);
        lightboxButton.prop('disabled', false);
        fullpageButton.prop('disabled', false);
      });

    // Initializing form
    toggleTab();
    var order = getOrderValues();
    setOrderFormValues(order);
    setReturnUrl( order.returnUrl );

    var configObject = {
      merchant: merchantId,
      order: {
        currency: order.currency,
        description: order.description,
        amount: order.amount
      },
      session: {
        id: order.sessionId || sessionId
      },
      interaction: {
        merchant: {
          name: 'Merchant Name'
        }
      },
      hppdebug: true
    };

    function orderFormSubmitHandler() {
      order = getOrderFormValues();
      storeOrderFormValues(order);
    }

    function getOrderValues() {
      var order = pullStoredValues();

      return {
        amount: order.amount || '50',
        currency: order.currency || currency,
        description: order.description || 'Ordered goods',
        sessionId: order.sessionId || sessionId,
        returnUrl: order.returnUrl || ''
      };
    }

    function getOrderFormValues() {
      return {
        currency: currencyInput.val(),
        amount: amountInput.val(),
        description: descriptionInput.val(),
        sessionId: sessionIdInput.val(),
        returnUrl: returnUrlInput.val()
      };
    }

    function setOrderFormValues(order) {
      currencyInput.val(order.currency);
      amountInput.val(order.amount);
      descriptionInput.val(order.description);
      sessionIdInput.val(order.sessionId);
      returnUrlInput.val(order.returnUrl);
    }

    function storeOrderFormValues(order) {
      if (isSessionStorageSupported) {
        sessionStorage.setItem('amount', order.amount);
        sessionStorage.setItem('currency', order.currency);
        sessionStorage.setItem('description', order.description);
        sessionStorage.setItem('sessionId', order.sessionId);
        sessionStorage.setItem('returnUrl', order.returnUrl);
      }
    }

    function pullStoredValues() {
      var stored = {};
      if (isSessionStorageSupported) {
        stored.amount = sessionStorage.getItem('amount');
        stored.currency = sessionStorage.getItem('currency');
        stored.description = sessionStorage.getItem('description');
        stored.sessionId = sessionStorage.getItem('sessionId');
        stored.returnUrl = sessionStorage.getItem('returnUrl');
      }
      return stored;
    }

    function setReturnUrl( url ) {
      if(url){
        checkoutScript.attr( 'data-complete', order.returnUrl );
      }
    }

    // Feature-detecting localStorage
    function storageAvailable(type) {
      try {
        var storage = window[type],
          x = '__storage_test__';
        storage.setItem(x, x);
        storage.removeItem(x);
        return true;
      }
      catch(e) {
        return e instanceof DOMException && (
            // everything except Firefox
          e.code === 22 ||
          // Firefox
          e.code === 1014 ||
          // test name field too, because code might not be present
          // everything except Firefox
          e.name === 'QuotaExceededError' ||
          // Firefox
          e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
          // acknowledge QuotaExceededError only if there's something already stored
          storage.length !== 0;
      }
    }

    Checkout.configure(configObject);
</script>

</body>
</html>