<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'apmHostedCheckout')}">
<body>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>APM.js integration with Hosted Checkout</h3>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">Order Details</h6>
                    </div>
                    <div class="panel-body">
                        <form id="order-form" onSubmit="orderFormSubmitHandler()">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="control-label" for="order-amount">Amount</label>
                                    <input id="order-amount" type="number" min="1" max="999999999" maxlength="10" class="form-control input-md" required placeholder="e.g. 50.00"/>

                                    <label class="control-label" for="order-currency">Currency</label>
                                    <select id="order-currency" class="form-control input-md" required>
                                        <option hidden>Select a currency</option>
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="SGD">SGD</option>
                                        <option value="MXN">MXN</option>
                                        <option value="AUD">AUD</option>
                                        <option value="BRL">BRL</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-9">
                                    <label class="col-md-4 control-label" for="order-description">Description</label>
                                    <div class="col-md-12">
                                        <textarea id="order-description"  class="form-control" rows="4" required placeholder="e.g. Ordered goods"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="order-submit" type="submit" class="btn btn-primary pull-right" disabled>Update configuration</button>
                            </div>
                        </form>
                    </div>
                </div>

                <hr>
                <p>The following </p>
                <p>Hosted Checkout can be implemented as:</p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <h5>Lightbox</h5>
                            <ul class="my-4">
                                <li>Opens modal; doesn't redirect away from merchant site</li>
                                <li>Seamless checkout experience</li>
                            </ul>
                            <input id="lightbox-with-session" type="button" class="btn btn-primary mr-2" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
                        </div>
                        <div class="col">
                            <h5>Payment Page</h5>
                            <ul class="my-4">
                                <li>Redirects to Gateway-hosted payment page</li>
                                <li>Ideal if your site isn't SSL-secured</li>
                            </ul>
                            <input id="page-with-session" type="button" class="btn btn-primary" value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script th:src="@{${config.apiBaseURL} + '/checkout/version/' + ${config.apiVersion} + '/checkout.js'}"
    data-error="errorCallback"
    data-cancel="cancelCallback"
    data-beforeRedirect="Checkout.saveFormFields"
    data-afterRedirect="Checkout.restoreFormFields">
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var currency = /*[[${config.currency}]]*/ null;
    /*]]>*/

    // This method preserves the current state of successIndicator and orderId, so they're not overwritten when we return to this page after redirect
    function getPageState() {
        return {
            sessionId: sessionId
        };
    }

    // This method is specifically for the full payment page option. Because we leave this page and return to it, we need to preserve the
    // state of successIndicator and orderId using the beforeRedirect/afterRedirect option
    function restorePageState(data) {
        console.log("afterRedirect: ", data);
        Checkout.showLightbox();
    }

    function errorCallback(error) {
        var message = JSON.stringify(error);
        $("#loading-bar-spinner").hide();
        var $errorAlert = $('#error-alert');
        console.log(message);
        $errorAlert.append("<p>" + message + "</p>");
        $errorAlert.show();
    }

    function cancelCallback() {
        console.log('Payment cancelled');
        // Reload the page to generate a new session ID - the old one is out of date as soon as the lightbox is invoked
        window.location.reload(true);
    }

    // This handles the response from Hosted Checkout and redirects to the appropriate endpoint
    function completeCallback(response) {
        console.log("COMPLETE: ", response);
    }

    /** Initializing Order Details Form **/
    var orderform = $('#order-form');
    var currencyInput = $('#order-currency');
    var amountInput = $('#order-amount');
    var descriptionInput = $('#order-description');
    var orderSubmit = $('#order-submit');
    var lightboxButton = $('#lightbox-with-session');
    var fullpageButton = $('#page-with-session');

    orderform
      .change(function() {
        if (orderSubmit.prop('disabled')) {
          orderSubmit.prop('disabled', false);
          lightboxButton.prop('disabled', true);
          fullpageButton.prop('disabled', true);
        }
      })
      .submit(function() {
        orderSubmit.prop('disabled', true);
        lightboxButton.prop('disabled', false);
        fullpageButton.prop('disabled', false);
      });

    var order = initOrderValues();
    setOrderFormValues(order);

    var configObject = {
      merchant: merchantId,
      order: {
        currency: order.currency,
        description: order.description,
        amount: order.amount,
      },
      session: {
        id: sessionId,
      },
      interaction: {
        merchant: {
          name: 'Merchant Name',
        },
      },
      hppdebug: true,
    };

    function orderFormSubmitHandler() {
      order = getOrderFormValues();
      storeOrderValues(order);
    }

    function getOrderFormValues() {
      // Getting the input values
      var currency = currencyInput.val();
      var amount = amountInput.val();
      var description = descriptionInput.val();

      return {
        currency: currency,
        amount: amount,
        description: description,
      };
    }

    function setOrderFormValues(order) {
      currencyInput.val(order.currency);
      amountInput.val(order.amount);
      descriptionInput.val(order.description);
    }

    function storeOrderValues(order) {
      if (window.sessionStorage) {
        sessionStorage.setItem('amount', order.amount);
        sessionStorage.setItem('currency', order.currency);
        sessionStorage.setItem('description', order.description);
      }
    }

    function pullStoredOrderValues() {
      var stored = {};
      if (window.sessionStorage) {
        stored.amount = sessionStorage.getItem('amount');
        stored.currency = sessionStorage.getItem('currency');
        stored.description = sessionStorage.getItem('description');
      }
      return stored;
    }

    function initOrderValues() {
      var order = pullStoredOrderValues();

      return {
        amount: order.amount || '0.99',
        currency: order.currency || currency,
        description: order.description || 'Ordered goods',
      };
    }

    Checkout.configure(configObject);
</script>

</body>
</html>