<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'apmReceipt')}">
<body>
<script type="text/javascript" src="http://localhost:4200/src/assets/scripts/apm.js"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div id="receipt" class="col-md-12">
                <h3>Receipt</h3>
                <div class="row">
                    <div class="col">
                        Order Status
                    </div>
                    <div class="col">
                        <p id="orderStatus"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Order ID
                    </div>
                    <div class="col">
                        <p id="orderId"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Amount
                    </div>
                    <div class="col">
                        <p id="amount"></p>
                    </div>
                </div>
                <div id="mc-apm-container" style="width:0px;height:0px;"></div>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script th:inline="javascript">
     var paymentInfo = null;
     var correlationId = getParameterByName('correlationId');
     var orderId = getParameterByName('orderId');
     var transactionId = getParameterByName('transactionId');
     var merchantId = getParameterByName('merchantId');
     var sessionId = getParameterByName('sessionId');
     var method = getParameterByName('method');
     var options = {configuration: {wsVersion: '49', userLanguage: 'en-US'}};

     APM.configure(merchantId, sessionId, options, function (data) {
         if (data && data.response && data.response.error) {
             var error = data.response.error;
             //Something bad happened, the error value will match what is returned by the REST API
             console.error("error.cause : ", error.cause);
             console.error("error.explanation : ", error.explanation);
             console.error("error.field : ", error.field);
         }
         else {
             APM.retrievePayment(transactionId, orderId, function (data) {
                 //raw response for the payment
                 console.log("TRANSACTION RETRIEVED!", data);
                 $("#orderStatus").text(data.response.gatewayCode);
                 $("#orderId").text(data.order.id);
                 $("#amount").text(data.order.amount);
             });
         }
         }
     );


//     APM.isSuccessfulPayment(APM.METHOD_IDEAL, paymentInfo, function (data){
//       if (data && data.result !== "ERROR" && data.success) {
//         console.log("Payment was successful!");
//       }
//       else {
//         console.log("Payment was not successful!");
//       }
//     });

     // Pure Javascript query parameters parser
     function getParameterByName(name, url) {
         if (!url) url = window.location.href;
         name = name.replace(/[\[\]]/g, '\\$&');
         var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
             results = regex.exec(url);
         if (!results) return null;
         if (!results[2]) return '';
         return decodeURIComponent(results[2].replace(/\+/g, ' '));
     }
</script>
</body>
</html>