<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'apmReceipt')}">
<body>
<script type="text/javascript" src="http://localhost/apm/src/assets/scripts/apm.js"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div id="receipt" class="col-md-12">
                <h3>Receipt</h3>
                <div class="row">
                    <div class="col">
                        Order Status
                    </div>
                    <div class="col">
                        <p id="orderStatus"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Amount
                    </div>
                    <div class="col">
                        <p id="amount"></p>
                    </div>
                </div>
                <div id="mc-apm-container" style="width:0px;height:0px;"></div>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script th:inline="javascript">
     var paymentInfo = null;
     var correlationId = getParameterByName('correlationId');
     var orderId = getParameterByName('orderId');
     var transactionId = getParameterByName('transactionId');
     var merchantId = getParameterByName('merchantId');
     var sessionId = getParameterByName('sessionId');
     var options = {configuration: {wsVersion: '49', userLanguage: 'en-US'}};

     APM.configure(merchantId, sessionId, options, function () {
         if (APM.isConfigured()) {
             APM.retrievePayment(orderId, transactionId, correlationId, function (data) {
                 //raw response for the payment
                 paymentInfo = data;
                 var method = sessionStorage.getItem('paymentMethod');
                 APM.isSuccessfulPayment(method, paymentInfo, function (data){
                     if (data && data.result === "SUCCESS") {
                         console.log("Payment was successful!");
                         $("#orderStatus").text(data.restApiResponse.response.gatewayCode);
                         $("#amount").text(data.restApiResponse.order.amount);
                     }
                     else {
                         console.log("Payment was not successful");
                     }
                 });
             });
         }
         else {
            console.log("Error configuring APM");
         }
     });

     // Pure Javascript query parameters parser
     function getParameterByName(name, url) {
         if (!url) url = window.location.href;
         name = name.replace(/[\[\]]/g, '\\$&');
         var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
             results = regex.exec(url);
         if (!results) return null;
         if (!results[2]) return '';
         return decodeURIComponent(results[2].replace(/\+/g, ' '));
     }
</script>
</body>
</html>