<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'authorize')}">
<body>
<script type="text/javascript">
    var JavaSample = {
        operation: function() {
            return "AUTHORIZE";
        },
        endpoint: function() {
            return "/process/";
        },
        params: function() {
            return "";
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">body{display:none !important;}</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script th:src="@{${config.apiBaseURL} + '/form/version/' + ${config.apiVersion} + '/merchant/' + ${config.merchantId} + '/session.js'}"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Authorize</h3>
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">In order to run the Authorize API operation, please make sure the merchant is configured to "Authorize and Capture" payment mode.</p>
                </div>
                <p>Please enter your payment details:</p>
                <div class="input-block">
                    <label for='card-number'>Card number:</label>
                    <input type="text" id="card-number" class="input-field" value="" readonly>
                </div>
                <div class="input-block">
                    <label for='expiry-month'>Expiry month:</label>
                    <input type="text" id="expiry-month" class="input-field" value="">
                </div>
                <div class="input-block">
                    <label for='expiry-year'>Expiry year:</label>
                    <input type="text" id="expiry-year" class="input-field" value="">
                </div>
                <div class="input-block">
                    <label for='security-code'>Security code:</label>
                    <input type="text" id="security-code" class="input-field" value="" readonly>
                </div>
                <button class="btn btn-primary" id="payButton" onclick="pay();">Authorize</button>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script src="/scripts/hostedSession.js"></script>
</body>
</html>