<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'authorize')}">
<body>
<script type="text/javascript">
    var JavaSample = {
        operation: function() {
            return "AUTHORIZE";
        },
        endpoint: function() {
            return "/processHostedSession/";
        },
        secureIdResponseUrl: function() {
            return null;
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">body{display:none !important;}</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script th:src="@{${config.apiBaseURL} + '/form/version/' + ${config.apiVersion} + '/merchant/' + ${config.merchantId} + '/session.js'}"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Authorize</h3>
                <div class="alert alert-warning" role="alert">
                    <p>In order to run the Authorize API operation, please make sure the merchant is configured to "Authorize and Capture" payment mode.</p>
                    <p class="mb-0">You can find test cards <a th:href="@{${config.apiBaseURL} + '/api/documentation/integrationGuidelines/supportedFeatures/testAndGoLive.html'}">here</a>.</p>
                </div>
                <div class="mb-4">
                    <h6>Payment details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="card-number">Card number</label>
                        <div class="col-md-7">
                            <input id="card-number" type="text" placeholder="" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-month">Expiry month</label>
                        <div class="col-md-7">
                            <input id="expiry-month" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="expiry-year">Expiry year</label>
                        <div class="col-md-7">
                            <input id="expiry-year" type="text" placeholder="" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="security-code">Security code</label>
                        <div class="col-md-7">
                            <input id="security-code" type="text" placeholder="" class="form-control input-md" required="" readonly/>
                        </div>
                    </div>
                </div>
                <div>
                    <h6>Order details</h6>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-id">Order ID</label>
                        <div class="col-md-7">
                            <input id="order-id" type="text" th:value="${request.orderId}" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-amount">Order amount</label>
                        <div class="col-md-7">
                            <input id="order-amount" type="text" th:value="${request.orderAmount}" maxlength="14" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-currency">Order currency</label>
                        <div class="col-md-7">
                            <input id="order-currency" type="text" th:value="${request.orderCurrency}" maxlength="3" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="order-description">Order description</label>
                        <div class="col-md-7">
                            <input id="order-description" type="text" th:value="${request.orderDescription}" maxlength="127" class="form-control input-md" required=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label" for="transaction-id">Transaction ID</label>
                        <div class="col-md-7">
                            <input id="transaction-id" type="text" th:value="${request.transactionId}" class="form-control input-md" required=""/>
                        </div>
                    </div>
                </div>
                <button class="mt-4 btn btn-primary" id="payButton" onclick="pay();">Authorize</button>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script src="/scripts/hostedSession.js"></script>
</body>
</html>