<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'authorize',${baseUrl},${merchantId})}">
<body>
<script type="text/javascript">
    var JavaSample = {
        operation: function() {
            return "AUTHORIZE";
        }
    };
</script>
<div class="col-9">
    <div class="row">
        <h3>Authorize</h3>
        <div class="col-md-7">
            <p>Please enter your payment details:</p>
            <p>Card Number: <input type="text" id="card-number" class="input-field" value="" readonly></p>
            <p>Expiry Month:<input type="text" id="expiry-month" class="input-field" value=""></p>
            <p>Expiry Year:<input type="text" id="expiry-year" class="input-field" value=""></p>
            <p>Security Code:<input type="text" id="security-code" class="input-field" value="" readonly></p>
            <button class="btn btn-primary" id="payButton" onclick="pay();">Authorize Now</button>
        </div>
    </div>
</div>
</body>
</html>