<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hostedCheckoutReceipt')}">

<body>

<div class="col-9 pl-4">
    <th:block th:switch="${result}">
        <div th:case="'success'">
            <h3>Success!</h3>
            <div>You have successfully completed your hosted checkout!</div>
            <h2>Order Details</h2>
            <div th:text="${orderDetails}"></div>
        </div>
        <div th:case="'error'">
            <h3>Error</h3>
            <div>There was an error completing your payment.</div>
        </div>
    </th:block>
</div>

</body>
</html>