<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hostedCheckout')}">
<body>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Hosted Checkout</h3>
                <p>The Hosted Checkout model allows you to collect payment details from your payer through an interaction hosted and displayed by the Payment Gateway. This means you aren't responsible for handling sensitive PCI data.</p>
                <p>Hosted Checkout can be implemented as:</p>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col">
                            <h5>Lightbox</h5>
                            <ul class="my-4">
                                <li>Opens modal; doesn't redirect away from merchant site</li>
                                <li>Seamless checkout experience</li>
                            </ul>
                            <input id="lightbox-with-session" type="button" class="btn btn-primary mr-2" value="Pay with Lightbox" onclick="Checkout.showLightbox();" />
                        </div>
                        <div class="col">
                            <h5>Payment Page</h5>
                            <ul class="my-4">
                                <li>Redirects to Gateway-hosted payment page</li>
                                <li>Ideal if your site isn't SSL-secured</li>
                            </ul>
                            <input id="page-with-session" type="button" class="btn btn-primary" value="Pay with Payment Page" onclick="Checkout.showPaymentPage();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script src="https://test-gateway.mastercard.com/checkout/version/${apiVersion}/checkout.js"
        data-error="errorCallback"
        data-cancel="cancelCallback"
        data-complete="completeCallback">
</script>
<script th:inline="javascript">

    /*<![CDATA[*/
        var merchantId = /*[[${merchantId}]]*/ null;
        var sessionId = /*[[${sessionId}]]*/ null;
        var sessionVersion = /*[[${sessionVersion}]]*/ null;
        var successIndicator = /*[[${successIndicator}]]*/ null;
        var orderId = /*[[${orderId}]]*/ null;
    /*]]>*/

    sessionStorage.setItem('successIndicator', successIndicator);
    sessionStorage.setItem('orderId', orderId);

    function errorCallback(error) {
        console.log(JSON.stringify(error));
    }
    function cancelCallback() {
        console.log('Payment cancelled');
        sessionStorage.clear();
        // Reload the page to generate a new session ID - the old one is out of date as soon as the lightbox is invoked
        window.location.reload(true);
    }

    function completeCallback(response) {
        console.log("resultIndicator: ", response);
        console.log("successIndicator: ", sessionStorage.getItem("successIndicator"));
        console.log("Payment complete");

        var result = (response === sessionStorage.getItem("successIndicator")) ? "SUCCESS" : "ERROR";
        window.location.href = "/hostedCheckout/" + sessionStorage.getItem("orderId") + "/" + result;
        sessionStorage.clear();
    }

    function randomId() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ", length = 10;
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.round(Math.random() * (chars.length - 1))];
        return result;
    }

    Checkout.configure({
        merchant: merchantId,
        order: {
            amount: function() {
                //Dynamic calculation of amount
                return 80 + 20;
            },
            currency: 'USD',
            description: 'Ordered goods',
            id: randomId()
        },
        session: {
            id: sessionId,
            version: sessionVersion
        },
        interaction: {
            merchant: {
                name: 'Merchant Name',
                address: {
                    line1: '200 Sample St',
                    line2: '1234 Example Town'
                }
            }
        }
    });
</script>

</body>
</html>