<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hostedCheckoutReceipt')}">

<body>

<div class="col-9 pl-4">
    <h3>Payment complete!</h3>
    <div>Your payment was successful.</div>
    <div class="container mt-4 ml-0">
        <div class="row">
            <div class="col">
                Order ID
            </div>
            <div class="col">
                <p th:text="${order.id}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Description
            </div>
            <div class="col">
                <p th:text="${order.description}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Amount
            </div>
            <div class="col">
                <p th:text="${order.amount} + ' ' + ${order.currency}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>