<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'masterpass')}">

<body>
<div class="col-9">
    <div class="row">
        <form action="#" class="col-12 form-horizontal" th:action="@{/processMasterpass}" th:object="${apiRequest}" method="post">
            <h3>Masterpass</h3>
            <div class="alert alert-warning" role="alert">
                <p>This page is for demonstration purposes only, to collect information like order amount and currency in order to generate the Masterpass button. In practical use this would be collected behind the scenes.</p>
                <p>View the full Masterpass documentation <a th:href="@{${config.apiBaseURL} + '/api/documentation/integrationGuidelines/supportedFeatures/pickPaymentMethod/masterPassOnline.html'}" target="_blank">here</a>.</p>
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="wallet-provider">Wallet Provider</label>
                    <div class="col-md-7">
                        <input id="wallet-provider" th:field="*{walletProvider}" value="MASTERPASS_ONLINE" type="text" placeholder="" class="form-control input-md" readonly/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="origin-url">Origin URL (where Masterpass will redirect after transaction is complete)</label>
                    <div class="col-md-7">
                        <input id="origin-url" th:field="*{originUrl}" type="text" placeholder="" class="form-control input-md" readonly/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="order-amount">Amount</label>
                    <div class="col-md-7">
                        <input id="order-amount" th:field="*{orderAmount}" type="text" placeholder="" class="form-control input-md" required=""/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="order-currency">Currency</label>
                    <div class="col-md-7">
                        <input id="order-currency" th:field="*{orderCurrency}" type="text" placeholder="" class="form-control input-md" required=""/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="process"></label>
                    <div class="col-md-7">
                        <button id="process" name="process" class="btn btn-primary">Generate Masterpass button</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div> <!-- row -->
</div>

</body>
</html>