<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'browserPaymentReceipt')}">

<body>

<div class="col-9 pl-4">
    <h3>Payment complete!</h3>
    <div th:text="'Masterpass status: ' + ${mpstatus}"></div>
    <div class="container mt-4 ml-0">
        <div class="row">
            <div class="col">
                OAuth Verifier
            </div>
            <div class="col">
                <p th:text="${oauthVerifier}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                OAuth Token
            </div>
            <div class="col">
                <p th:text="${oauthToken}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Checkout ID
            </div>
            <div class="col">
                <p th:text="${checkoutId}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Checkout Resource URL
            </div>
            <div class="col">
                <p th:text="${checkoutResourceUrl}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>