<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'3dSecure2')}">
<body onload="acsChallenge()"> 
<!-- <script src="/scripts/hostedSession.js"></script> -->
<!--<script type="text/javascript" th:src="@{${config.apiBaseURL} + '/static/apm/' + ${apmApiVersion} + '/apm.min.js'}"></script>-->

<div class="col-9">
    <div class="row">
        <?php require_once('partials/navigation.html'); ?>
        <div id="threedsChallengeRedirect" xmlns="http://www.w3.org/1999/html">
            <form id="threedsChallengeRedirectForm" method="POST"
                  action="https://dl01aspall39v.qabri.mastercard.int/acs/mastercard/v2/prompt" target="challengeFrame">
                <input type="hidden" name="creq" th:value="${simple}" />
            </form>
            <iframe id="challengeFrame" name="challengeFrame" width="100%" height="100%"></iframe>
            <script>document.getElementById("threedsChallengeRedirectForm").submit();</script>
        </div>
    </div>
</div>
<script>
    function acsChallenge() {
        // Add the iframe with a unique name
        let iframe = document.getElementById("threedsChallengeRedirect");
        iframe.style.width = "800px";
        iframe.style.height = "500px";
//        iframe.action = iframe.action.replace('tse', 'qabri.mastercard');
//        iframe.submit();
//        callback();
    }

    function processMethodData(callback) {
        // construct a form with hidden inputs, targeting the iframe
        let form = document.createElement("threedsChallengeRedirectForm");
        form.submit();
        callback();
    }
</script>
</body>
</html>