<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'refund',${baseUrl},${merchantId})}">

<body>
<div class="col-9">
    <div class="row">
        <h3>Refund</h3>
        <div class="alert alert-warning" role="alert">
            This API operation is typically not a browser initiated action. However, we are calling this action from browser only as a reference to get an idea of how it can be done through your application.
        </div>
        <div class="col-md-7">
            <p>Please enter your payment details:</p>
            <p>Card Number: <input type="text" id="card-number" class="input-field" value="" readonly></p>
            <p>Expiry Month:<input type="text" id="expiry-month" class="input-field" value=""></p>
            <p>Expiry Year:<input type="text" id="expiry-year" class="input-field" value=""></p>
            <p>Security Code:<input type="text" id="security-code" class="input-field" value="" readonly></p>
            <button class="btn btn-primary" id="payButton" onclick="pay();">Refund</button>
        </div>
    </div> <!-- row -->
</div>

</body>
</html>