<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'retrieve')}">

<body>
<div class="col-9">
    <div class="row">
        <form action="#" class="col-12 form-horizontal" th:action="@{/process}" th:object="${apiRequest}" method="post">
            <h3>Retrieve Order</h3>
            <div class="alert alert-warning" role="alert">
                <p>A valid order ID is needed to retrieve an order.</p>
                <p class="mb-0">To get these values, run the Pay process, then enter the values from the response.</p>
            </div>
            <fieldset>
                <input type="hidden" th:field="*{apiOperation}" th:value="${apiOperation}" name="apiOperation" />
                <input type="hidden" th:field="*{apiMethod}" th:value="${apiMethod}" name="apiMethod" />
                <div class="form-group">
                    <label class="col-md-7 control-label" for="order-id">Order ID</label>
                    <div class="col-md-7">
                        <input id="order-id" th:field="*{orderId}" type="text" placeholder="[Order ID from existing transaction]" class="form-control input-md" required=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-7 control-label" for="process"></label>
                    <div class="col-md-7">
                        <button id="process" name="process" class="btn btn-primary">Retrieve Transaction</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div> <!-- row -->
</div>

</body>
</html>