<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'secureId')}">
<body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var redirectUrlEndpoint = /*[[${redirectUrlEndpoint}]]*/ null;
    /*]]>*/

    var JavaSample = {
        operation: function() {
            return "CHECK_3DS_ENROLLMENT";
        },
        endpoint: function() {
            return "/authenticatePayer/";
        },
        params: function() {
            return encodeURI("?redirectUrl=" + window.location.protocol + "//" + window.location.host + "/" + redirectUrlEndpoint);
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">body{display:none !important;}</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script th:src="@{${baseUrl} + '/form/version/45/merchant/' + ${merchantId} + '/session.js'}"></script>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <h3>Pay with 3DS</h3>
            <ol>
                <li>Check for 3DS enrollment.</li>
                <ol type="i">
                    <li>Create a hosted session using the CREATE_CHECKOUT_SESSION operation.</li>
                    <li>Collect card details using hosted session.</li>
                    <li>Check if the card is enrolled in 3DS.</li>
                </ol>
            </ol>
            <div class="col-md-7">
                <p>Please enter your payment details:</p>
                <p>Card Number: <input type="text" id="card-number" class="input-field" value="" readonly></p>
                <p>Expiry Month:<input type="text" id="expiry-month" class="input-field" value=""></p>
                <p>Expiry Year:<input type="text" id="expiry-year" class="input-field" value=""></p>
                <p>Security Code:<input type="text" id="security-code" class="input-field" value="" readonly></p>
                <button class="btn btn-primary" id="payButton" onclick="pay();">Pay with 3DS</button>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script src="/scripts/hostedSession.js"></script>
</body>
</html>