<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'src')}">
<body>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Secure Remote Checkout - Standalone Implementation</h3>
                <button class="mt-4 btn btn-primary" onclick="launchSRCi()">Launch SRCi</button>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script type="text/javascript" th:href="@{${config.apiBaseURL} + '/static/srci/' + ${config.srciVersion} + '/srci.min.js'}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var orderId = /*[[${request.orderId}]]*/ null;
    var currency = /*[[${config.currency}]]*/ null;
    /*]]>*/

    var srciConfig = {
        sessionId: sessionId
    };

    function errorCallback(error) {
        console.error("Error checking out using SRCi", error);
    }


    function cancelCallback() {
        console.log("User cancelled the checkout operation");
    }


    function payloadCallback(correlationId, networkScheme) {
        console.log("User successfully selected the card ... ");


        //Do the following steps from the server to complete the payment
        // 1. Update session from wallet (https://na-gateway.mastercard.com/api/documentation/apiDocumentation/rest-json/version/latest/operation/Wallet%3a+Update+Session+From+Wallet.html?locale=en_US)
        // by passing correlationId & networkScheme
        // 2. Pay call using the session - https://na-gateway.mastercard.com/api/documentation/apiDocumentation/rest-json/version/latest/operation/Transaction%3a++Pay.html?locale=en_US
    }


    /**
     Function to launching SRCi interface
     */
    function launchSRCi() {
        SRCi.launchUI(srciConfig, payloadCallback, errorCallback, cancelCallback);
    }
</script>
</body>
</html>
