<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'src')}">
<body>
<div class="col-9">
    <div class="row">
        <div class="contents col-12">
            <div class="col-md-12">
                <h3>Secure Remote Checkout - Standalone Implementation</h3>
                <button id="launchSRCi" class="mt-4 btn btn-primary" onclick="launchSRCi()">Launch SRCi</button>
            </div>
        </div>
    </div> <!-- row -->
    <div id="paymentInfo" class="row" style="display: none;">
        <div class="contents col-12">
            <div class="col-md-12">
                <p style="font-weight: bold;">Successfully retrieved payment info. Click to complete payment.</p>
                <p style="margin-bottom: 3px;">Correlation ID: <span id="correlationId"></span></p>
                <p style="margin-bottom: 3px;">Scheme: <span id="scheme"></span></p>
                <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
                    <p style="margin-bottom: 0;">To complete the payment, perform the PAY operation on your server by passing the above correlation ID.</p>
                </div>
            </div>
        </div>
    </div> <!-- row -->
    <div id="error" class="row" style="display: none;">
        <div class="contents col-12">
            <div class="col-md-12">
                <p style="font-weight: bold;">An error has occurred</p>
                <p id="errorMessage" style="margin-bottom: 3px;"></p>
            </div>
        </div>
    </div> <!-- row -->
</div>
<script type="text/javascript" th:src="@{${baseUrl} + '/static/srci/' + ${config.srciVersion} + '/srci.js'}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    var merchantId = /*[[${config.merchantId}]]*/ null;
    var sessionId = /*[[${hostedSession.id}]]*/ null;
    var orderId = /*[[${request.orderId}]]*/ null;
    var currency = /*[[${config.currency}]]*/ null;
    /*]]>*/

    var _correlationId, _networkScheme, paymentOptionsInquiryResponse;

    var configureErrorCallback = function(error) {
        console.error("Error configuring SRCi", error);
        showError(error);
    };

    var launchSRCiErrorCallback = function(error) {
        console.error("Error checking out using SRCi", error);
        showError(error);
    };

    var cancelCallback = function() {
        console.log("User cancelled the checkout operation");
    };

    var payloadCallback = function(correlationId, networkScheme) {
        console.log("User successfully selected the card:\nCorrelation ID: " + correlationId + "\nScheme: " + networkScheme);

        _correlationId = correlationId;
        _networkScheme = networkScheme;

        $("#launchSRCi").hide();
        $("#correlationId").html(correlationId);
        $("#scheme").html(networkScheme);
        $("#paymentInfo").show();

    };

    var showError = function(error) {
        $("#launchSRCi").hide();
        $("#errorMessage").html(error.explanation);
        $("#error").show();
    };

    var config = {
        wsVersion: '54'
    };

    SRCi.configure(merchantId, sessionId, config, function(response) {
        if(response.result === "ERROR") {
            configureErrorCallback(response);
        }
        else if (response.result === "SUCCESS") {
            paymentOptionsInquiryResponse = response.restApiResponse;
        }
    });

    /**
     Function to launching SRCi interface
     */
    function launchSRCi() {
        var config = {
            transactionAmount: '59.00',
            transactionCurrency: 'USD',
            paymentOptions: paymentOptionsInquiryResponse
        };

        SRCi.launchUI(config, payloadCallback, launchSRCiErrorCallback, cancelCallback);
    }
</script>
</body>
</html>
